extend layout

block content
  section
    h1 Welcome to Synapsis Ad Solutions
    p
      |Synapsis Business Networking LLC was founded in 2011 by University of Maryland students.
      | Our mission is to provide innovative top-notch business networking tools for small businesses and sole proprietors.
    
    .team
      .member
        img(src='images/ryan-moore.jpg', alt='Ryan Moore')
        h3 Ryan Moore
        ul
          li Title: President and CEO
          li Contact: 
            a(href='#') synapsis.president@gmail.com
      .member
        img(src='images/geoffrey-wang.jpg', alt='Geoffrey Wang')
        h3 Geoffrey Wang
        ul
          li Title: CFO
          li Contact: 
            a(href='#') synapsis.cfo@gmail.com
      .member
        img(src='images/miles-dickinson.jpg', alt='Miles Dickinson')
        h3 Miles Dickinson
        ul
          li Title: CTO
          li Contact: 
            a(href='#') synapsis.cto@gmail.com
      .member
        img(src='images/brian-doyle.jpg', alt='Brian Doyle')
        h3 Brian Doyle
        ul
          li Title: VP of Networking
          li Contact: 
            a(href='#') synapsis.vpnetwork@gmail.com
    .clearfloat

    

