
extend layout

block content

    h1 What is Synapsis Advertising Solutions?
    p
      |Our purpose is to pair eligible truckers with advertisers to create a win-win situation.
      | Truckers like yourself can bring in more revenue, while advertisers are given an untapped new medium to publicize their products.
      | We seek to be the one-stop-shop when it comes to freelance truck advertising.

    h1 How does it work?
    p
      |It ‘s simple. You sign up with your contact information and we’ll do all the work to find an advertiser who is willing to use your truck as a billboard.
      | When we do, you’ll be contacted and instructed on the next steps where an ad will be attached to your truck.
      | You will receive your payment directly from us on a weekly schedule as long as we verify that you are driving fulfilling your normal driving routine. 

    h1 Why should (truckers) do it?
    p
      |Rising gas prices, a sluggish economy, more regulations and inflation.
      | You don’t have to be an expert to know that your job is getting harder by the day.
      | We want to ensure that you can continue through these challenges and advertising on your trucks is the answer. 

    h1 Still have questions?
    p
      |Contact us at 
      a(href='#') Contact@synapsisadsolutions.com


    section.sectionFooter
      .footerBox
        h2 I really like this footer content div
        p
          | Lorem Ipsum is simply
          strong dummy text of the printing
          | and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
        a(href='') read more...
      .footerBox
        h2 Maybe there is something we can put here? Don't force it though
        p
          | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
          strong dummy text ever since the 1500s
          | , when an unknown printer took a galley of type and scrambled
        a(href='') read more...
      .clearfloat