!!! 5
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title #{title}
    link(href='/stylesheets/styles.css', rel='stylesheet', type='text/css')
    script(type='application/javascript', src='js/vendor/jquery-1.7.2.min.js')
    script(type='application/javascript', src='js/vendor/jquery-validate.js')
    script(type='application/javascript', src='js/util.js')
  body
    .wrapper
      header
        .logo
          h1
            span S
            |ynapsis 
            span A
            |dvertising 
            span S
            |olutions
        nav
          ul#navlist
            li
              a(href='http://facebook.com')
                img(src='images/facebook.jpg')
            li
              a(href='/what-we-do')
                img#twitter(src='images/twitter.png')

        block content

    footer
      p
        | Copyright © 2012 Synapsis Advertising Solutions. All rights reserved.
