!!! 5
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title #{title}
    link(href='/stylesheets/styles.css', rel='stylesheet', type='text/css')
    script(type='application/javascript', src='js/vendor/jquery-1.7.2.min.js')
    script(type='application/javascript', src='js/vendor/jquery-validate.js')
    script(type='application/javascript', src='js/util.js')
  body
    .wrapper
      header
        .logo
          h1
            span S
            |ynapsis 
            span A
            |dvertising 
            span S
            |olutions
        nav
          ul#navlist
            li
              a(href='/who-we-are')
                img#facebook(src='images/facebook.jpg', width='75', height='75')
            li
              a(href='/what-we-do')
                img#twitter(src='images/twitter.png', width='85', height='80')


      form(action='/user', method='post', accept-charset='UTF-8', onsubmit="return false")
        fieldset#1
          legend Sign Up
          label#labelName(for='name') Your Full Name*: 
          input#name(type='text', name='name', maxlength='50')br
          label(for='email') Email Address*:
          input#email(type='text', name='email', maxlength='50')br
          label(for='mail') Mailing Address*:
          input#mail(type='text', name='mail', maxlength='50')br
          label(for='region') Region*:
          br
          select.region
            option(value='College Park, MD') College Park, MD
          br
          label(for='phone-number') Phone Number*:
          input#phone-number(type='text', name='phone-number', maxlength='50')br
          input#next(type='submit', name='next', value='Next')
        
        fieldset#2
          div.select
            label(for='car-accessible') Car Accessible*:
            br
            select.car-accessible
              option(value='yes') Yes
              option(value='no') No
          div.select
            label(for='commuter') Commuter*:
            br
            select.commuter
              option(value='yes') Yes
              option(value='no') No
          .clearfloat
          br
          br
          label(for='car-make') Car Make*:
          input#car-make(type='text', name='car-make', maxlength='50')br
          label(for='car-model') Car Model*:
          input#car-model(type='text', name='car-model', maxlength='50')br
          label(for='car-year') Car Year*:
          input#car-year(type='text', name='car-year', maxlength='50')br
          label(for='miles-driven') Approx. Miles Driven per Week*:
          input#miles-driven(type='text', name='miles-driven', maxlength='50')br
          input#submit(type='submit', name='submit', value='Submit')

        fieldset#3
          p
            |Thank you for your interest. 
            |We will be contacting you soon about this exciting opportunity.
      
        #movie.widget
            h1 Easy Money
            p
              |Being in College is TOUGH! All those tests, expensive books, high rent, and other...expenses add up! 
              |What if you could have a little extra cash in your pocket each month for doing virtually nothing different from what you normally do? 
              |It’s simple really, just agree to host a magnetic ad on the side of your car and get paid. 
              |Simple. You’ll be helping out local businesses and getting enough cash to buy at least a couple thirties...of high quality study cards of course.

        .clearfloat

    footer
          p
            | Copyright © 2012 Synapsis Advertising Solutions. All rights reserved.