extends layout

block content
  .wrapper
    header
      .logo
        h1
          span S
          |ynapsis 
          span P
          |romotions
        
      #facebook
        a(href='http://facebook.com')
          img(src='images/facebook.jpg')
    .clearfloat
    #sign-up
      form(action='/user', method='post', accept-charset='UTF-8', onsubmit="return false")
        fieldset#1
          legend Sign Up
          label#labelName(for='name') Your Full Name*: 
          input#name(type='text', name='name', maxlength='50')br
          label(for='email') Email Address*:
          input#email(type='text', name='email', maxlength='50')br
          label(for='class-year') Class Year*:
          br
          select.class-year
            option(value='Freshman') Freshman
            option(value='Sophmore') Sophmore
            option(value='Junior') Junior
            option(value='Senior') Senior
            option(value='Super Senior') Super Senior
          br
          label(for='mail') Mailing Address*:
          input#mail(type='text', name='mail', maxlength='50')br
          label(for='region') Region*:
          br
          select.region
            option(value='College Park, MD') College Park, MD
          br
          label(for='phone-number') Phone Number*:
          input#phone-number(type='text', name='phone-number', maxlength='50')br
          input#next(type='submit', name='next', value='Next')
        
        fieldset#2
          div.select
            label(for='car-accessible') Car Accessible*:
            br
            select.car-accessible
              option(value='yes') Yes
              option(value='no') No
          div.select
            label(for='commuter') Commuter*:
            br
            select.commuter
              option(value='yes') Yes
              option(value='no') No
          .clearfloat
          br
          br
          label(for='car-location') Car Location*:
          input#car-location(type='text', name='car-location', maxlength='50')br
          label(for='car-make') Car Make:
          input#car-make(type='text', name='car-make', maxlength='50')br
          label(for='car-model') Car Model:
          input#car-model(type='text', name='car-model', maxlength='50')br
          label(for='car-year') Car Year:
          input#car-year(type='text', name='car-year', maxlength='50')br
          label(for='miles-driven') Approx. Miles Driven per Week*:
          input#miles-driven(type='text', name='miles-driven', maxlength='50')br
          //- input(type='checkbox', name='toc')
          //- | I agree to the
          //- a(href='#toc') Terms and Conditions 
          //- |of Synapsis Advertising Solutions
          input#back(type='button', name='back', value='Back')
          input#submit(type='submit', name='submit', value='Submit')

        fieldset#3
          p
            |Thank you for your interest. 
            |We will be contacting you soon about this exciting opportunity. 
            |If you have any questions or comments, please contact us at 
            a(href='mailto:synapsis.president@gmail.com') synapsis.president@gmail.com
      
      #movie.widget
        h1 Simple Task, Extra Cash
        p
          |Being in College is TOUGH! All those tests, expensive books, high rent, and other expenses add up! 
          |What if you could have a little extra cash in your pocket each month for doing virtually nothing different from what you normally do? 
          |It’s simple really, just agree to host a magnetic ad on the side of your car and get paid. 
          |Simple.
        p
          |We will of course conduct random checks of your cars and a failure to host the ad will result in removal from the system. 
          |As long as you abide by the simple rules outlined in the terms of service, you will get paid.
    .clearfloat

    h1 How it Works:
    ul#works
      li You complete an application to host a magnetic advertisement on your vehicle.
      li When a client company purchases an advertisement, a Synapsis Promotions representative will meet with you, apply the magnetic advertisement to your vehicle, and have you sign a service contract in which you agree to the Terms of Service.
      li Every two weeks, you must send a picture of your hosted advertisement to Synapsis Promotions to confirm that the ad is in satisfactory condition. 
      li As long as you abide by the simple criteria above, you will receive a check by mail on a biweekly basis for the duration of the contract.
      li At the end of the contract, a Synapsis Promotions representative will meet with you to retrieve the advertisement. If the contract was serviced appropriately, according to the terms of the contract, you will continue to be eligible to host magnetic advertisements on your vehicle as they become available.
    .clearfloat
