table
	font-family verdana, arial, serif
	font-size 11px
	color #333333
	border-width 1px
	border-collapse	collapse
	th
		border 1px solid #666666
		padding 8px
		background-color #dedede
	td
		border-width 1px
		padding 8px
		border-style solid
		border-color #666666
		background-color #ffffff